@charset "utf-8";

:root {
  --main-font: "Noto Sans", sans-serif;
  --sub-font1: "Pretendard", serif;
  --sub-font2: "Abel", serif;
  --sub-font3: "Bell Gothic", serif;
  --sub-font4: "JMH Typerwriter", serif;
  --sub-font5: "AMI R", serif;
  --main-color: #f0ecdb;
  --sub-color: #847a65;
  --base-color: #fff;
}

html{
  scroll-behavior: smooth;
}

/*공통*/
body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.5;
  color: #222;
  background: #f0ecdb;
  font-weight: 400;
}

#wrap {
  min-width: 320px;
}

.inner {
  max-width: 1700px;
  margin: 0 auto;
}


/*top-notice*/
#top-notice {
  width: 100%;
  height: 40px;
  background: var(--sub-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#top-notice br {
  display: none;
}

#top-notice p {
  color: #fff;
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 600;
}

@media(max-width:1400px) {
  #top-notice p {
    font-size: 1.3rem;
  }
}

@media(max-width:768px) {
  #top-notice p {
    font-size: 1.2rem;
  }
}

@media(max-width:550px) {
  #top-notice {
    height: 50px;
  }

  #top-notice br {
    display: block;
  }

  #top-notice p {
    text-align: center;
    font-size: 1.1rem;
  }
}

@media(max-width:390px) {
  #top-notice p {
    font-size: 1.1rem;
  }
}


/*header*/
header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 999;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .gnb {
  display: flex;
  gap: 48px;
}

header nav .gnb>li {
  padding: 40px 0;
  cursor: pointer;
}

header nav .gnb>li:hover>a {
  border-bottom: 3px solid #454545;
  cursor: pointer;
}

header nav .gnb>li>a {
  font-family: var(--sub-font3);
  font-size: 1.6rem;
  font-weight: 700;
  color: #454545;
}

header .util ul {
  display: flex;
  gap: 28px;
}

header .util ul li {
  cursor: pointer;
}

header .util ul li img {
  object-fit: cover;
}
.ham{
  display: none;
}
header h1 {
  width: 185px;
  height: 55px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header h1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
}

@media(max-width: 1400px) {
  header .inner {
    padding: 0 29px;
  }

  header nav {
    display: none;
  }

  header h1 {
    width: 130px;
    height: 38px;
    position: static;
    transform: none;
  }

  header .util ul {
    padding: 30px 0;
  }
}

@media(max-width: 768px) {
  .ham{
  display: block;
}
  header .inner {
    padding: 0 25px;
  }

  header h1 {
    width: 100px;
    height: 40px;
  }

  header .util ul {
    padding: 25px 0;
  }

  header .util ul {
    gap: 20px;
  }

}

@media(max-width:550px) {
  header {
    top: 50px;
  }
}

@media(max-width: 390px) {
  header .inner {
    padding: 0 19px;
  }

  header h1 {
    width: 85px;
    height: 25px;
  }

  header .util ul {
    padding: 17px 0;
  }

  header .util ul {
    gap: 16px;
  }

  header .util ul li img {
    transform: scale(0.9);
  }
}

/*search*/
.search-wrap {
  width: 100%;
  height: 450px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 30px 0 150px 0;
}

.search-wrap>.inner {
  width: 100%;
  padding-bottom: 20px;
}

.search-wrap fieldset {
  width: 100%;
  margin: o auto;
}

.search-wrap fieldset>div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-wrap fieldset input {
  width: 95%;
  padding: 20px 0;
}

.search-wrap fieldset .btn_search {
  width: 20px;
  height: 20px;
  font-size: 0;
  color: transparent;
  background: url(../img/icon_search.svg) no-repeat center/ cover;
  cursor: pointer;
}

input::placeholder {
  font-size: 1.6rem;
}

.search-wrap fieldset .search-close {
  width: 18px;
  height: 18px;
  font-size: 0;
  color: transparent;
  background: url(../img/icon_close.svg) no-repeat center / cover;
  cursor: pointer;
}

.search-wrap ul {
  width: 100%;
  display: flex;
}

.search-wrap ul li {
  width: 20%;
}

.search-wrap ul li:last-child {
  width: 60%;
}

.search-wrap ul li img {
  padding-right: 5px;
}

.search-wrap ul li p a {
  display: inline-block;
  color: #454545;
  font-size: 1.6rem;
  align-items: center;
}

.search-wrap ul li p {
  padding-bottom: 10px;
}

.search-wrap ul li p:hover a {
  border-bottom: 3px solid #454545;
}

.search-wrap ul li span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #454545;
  padding: 15px 0;
}

@media(max-width:1400px) {
  input::placeholder {
    font-size: 1.5rem;
  }

  .search-wrap ul li span {
    font-size: 1.4rem;
  }

  .search-wrap ul li p a {
    font-size: 1.4rem;
  }
}


@media(max-width:768px) {
  .search-wrap ul li {
    width: 30%;
  }

  .search-wrap fieldset>div {
    gap: 10px;
  }

  .search-wrap fieldset .btn_search {
    width: 18px;
    height: 18px;
  }

  .search-wrap fieldset .search-close {
    width: 16px;
    height: 16px;
  }

  .search-wrap fieldset input {
    width: 88%;
    padding: 10px 0;
  }
}

@media(max-width:390px) {
  .search-wrap ul li span {
    font-size: 1.3rem;
  }

  .search-wrap ul li p a {
    font-size: 1.2rem;
  }

  .search-wrap fieldset input {
    width: 88%;
    padding: 0;
  }

  .search-wrap fieldset input::placeholder {
    font-size: 13px;
  }

  .search-wrap ul {
    gap: 10px;
  }

  .search-wrap fieldset .btn_search {
    width: 16px;
    height: 16px;
  }

  .search-wrap fieldset .search-close {
    width: 14px;
    height: 14px;
  }
}

/*depth2*/
.depth2 {
  width: 100%;
  height: auto;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  padding-bottom: 30px;
}

.depth2>.inner {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  align-items: start;
}

.depth2 .inner>li {
  display: flex;
  flex-direction: column;
}

.depth2 span {
  font-family: var(--main-font);
  font-weight: 600;
  color: #454545;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.d1 span {
  align-self: flex-start;
  padding-bottom: 0;
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 3px solid transparent;
}
.d1 span:hover{
  border-bottom: 3px solid #454545;
}
.depth2 p {
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: #454545;
  padding-bottom: 10px;
}

.depth2 p:hover a {
  border-bottom: 3px solid #454545;
}

.depth2-div {
  width: 350px;
  height: 300px;
  margin-bottom: 10px;
}

.depth2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depth2 .dt {
  font-weight: 600;
}


/*d1...d5*/
.depth2.d2 .classic {
  display: flex;
  gap: 50px;
}

.depth2.d2 .classic li p {
  font-family: var(--sub-font3);
  font-size: 1.5rem;
  font-weight: 700;
}

.depth2.d2 .classic li p span {
  font-family: var(--sub-font1);
  font-weight: 400;
  font-size: 1.4rem;
}

.depth2.d2 .classic li p:last-child {
  padding-bottom: 0;
}

.depth2.d2 .inner>li:nth-child(2) a {
  font-family: var(--main-font);
  font-weight: 500;
}

.depth2.d2 .inner>li:nth-child(3) {
  margin-left: 100px;
}

.depth2.d3 .inner>li p:last-child {
  padding-bottom: 0;
}

.depth2.d3 .body {
  display: flex;
  gap: 50px;
}

.depth2.d3>.inner {
  gap: 130px;
}

/*footer*/
footer {
  width: 100%;
  height: auto;
  background: #4F4838;
  padding: 71px 29px 90px 29px;
  position: relative;
}

footer .f-top ul {
  display: flex;
  gap: 111px;
}

footer .f-top ul span {
  display: block;
  font-family: var(--sub-font3);
  font-weight: 700;
  color: #fff;
  font-size: 2.6rem;
  padding-bottom: 30px;
}

footer .f-top ul p a {
  font-family: var(--main-font);
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  display: block;
  padding-bottom: 27px;
}

footer address {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  line-height: 32px;
  margin-top: 110px;
  word-break: keep-all;
}

footer .help {
  position: absolute;
  right: 233px;
  top: 250px;
  text-align: center;
}

footer .help h4 {
  font-family: var(--sub-font3);
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
  padding-bottom: 29px;
}

footer .help p {
  font-family: var(--sub-font5);
  font-size: 2.4rem;
  color: #fff;
  line-height: 34px;
  padding-bottom: 52px;
}

footer .help .btn_more {
  display: inline;
  border-bottom: 1px solid #fff;
}

footer .help .btn_more a {
  color: #fff;
  font-size: 1.6rem;
}

footer .f-bottom {
  border-top: 1px solid #fff;
  height: 30px;
  margin-top: 40px;
  padding-top: 35px;
}

footer .f-bottom ul {
  display: flex;
  justify-content: space-between;
}

footer .f-bottom ul li {
  display: flex;
  gap: 12px;
  align-items: center;
}

footer .f-bottom ul li:last-child {
  gap: 25px;
}

footer .f-bottom ul li p {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

@media(max-width:1400px) {
  footer .f-top .inner {
    display: flex;
    flex-direction: column-reverse;
  }

  footer .f-top ul {
    display: none;
  }

  footer .help {
    text-align: left;
    top: 75px;
    left: 29px;
    position: static;
  }

  footer address {
    margin-top: 50px;
  }
}

@media(max-width:1024px) {
  footer .help h4 {
    font-size: 3rem;
  }

  footer .help p {
    font-size: 2rem;
    white-space: nowrap;
  }

  footer .help .btn_more a {
    font-size: 1.4rem;
  }

  footer address {
    font-size: 1.4rem;
  }

  .f-bottom p {
    font-size: 1.2rem;
  }

  footer .help h4 {
    padding-bottom: 25px;
  }

  footer .help p {
    padding-bottom: 40px;
  }

  footer address {
    margin-top: 40px;
  }
}

@media(max-width:768px) {
  footer {
    padding: 76px 25px 85px 25px;
  }

  footer .help {
    left: 25px;
  }

  footer .help h4 {
    font-size: 2.4rem;
  }

  footer .help p {
    font-size: 1.4rem;
    white-space: nowrap;
  }

  footer .help .btn_more a {
    font-size: 1.2rem;
  }

  footer address {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .f-bottom p {
    font-size: 1.2rem;
  }

  footer .f-bottom ul li img {
    transform: scale(0.9);
  }

  footer .f-bottom ul li:last-child {
    gap: 17px;
  }

  footer .help h4 {
    padding-bottom: 15px;
  }

  footer .help p {
    padding-bottom: 25px;
    line-height: 26px;
    padding-bottom: 16px;
  }

  footer .f-bottom {
    margin-top: 40px;
    padding-top: 23px;
  }
}

@media(max-width:390px) {
  footer {
    padding: 45px 22px 70px 22px;
  }

  footer .help {
    left: 19px;
  }

  footer address {
    font-size: 1rem;
    line-height: 27px;
  }

  footer .help h4 {
    font-size: 2rem;
  }

  footer .help p {
    font-size: 1.4rem;
  }

  footer .help .btn_more a {
    font-size: 1rem;
  }

  .f-bottom p {
    font-size: 1rem;
  }

  footer .f-bottom ul li img {
    transform: scale(0.8);
  }

  footer .f-bottom ul li:last-child {
    gap: 17px;
  }

  footer .help h4 {
    padding-bottom: 10px;
  }

  footer .help p {
    padding-bottom: 12px;
    line-height: 22px;
  }

  footer .f-bottom {
    margin-top: 23px;
    padding-top: 16px;
  }

  #section6 ul {
    transform: scale(0.8);
    padding-top: 20px;
    gap: 12px;
  }
}


.ask {
  position: fixed;
  bottom: 205px;
  right: 95px;
  z-index: 9;
  transform: scale(0.8);
}

.gotop {
  position: fixed;
  bottom: 140px;
  right: 95px;
  z-index: 9;
  transform: scale(0.8);
}

@media(max-width: 1400px) {

  .ask,
  .gotop {
    right: 29px;
  }
}

@media(max-width: 1024px) {
  .ask {
    right: 20px;
  }

  .gotop {
    right: 20px;
  }
}

@media(max-width: 768px) {
  .ask {
    right: 14px;
    bottom: 180px;
  }

  .gotop {
    right: 14px;
    bottom: 120px;
  }
}

@media(max-width: 500px) {
  .ask {
    right: 10px;
    bottom: 155px;
    transform: scale(0.6);
  }

  .gotop {
    right: 10px;
    bottom: 105px;
    transform: scale(0.6);
  }
}




.ask-wrap{
  position: fixed;
  right: 95px;
  bottom: 210px;
  z-index: 99999;
  width: 300px;
  height: 500px;
  background: #F0ECDB;
  border-radius: 5px;
}
.top-bar{
  width: 100%;
  height: 30px;
  background: #847A65;
  position: relative;
  border-radius: 5px 5px 0 0;
}
.ask-close{
  position: absolute;
  display: block;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.ask-logo{
  padding: 15px 10px;
}
.ask-img{
  width: 100%;
  height: 250px;
  padding: 0 10px;
  margin: 0 auto;
  object-fit: cover;
}
.ask-txt{
  padding: 20px 10px;
}
.ask-txt span{
  font-size: 20px;
  display: block;
  font-family: var(--sub-font3);
  font-weight: 700;
  padding-bottom: 7px;
}
.ask-txt p{
  font-size: 14px;
  font-family: var(--sub-font5);
  padding-bottom: 10px;
}
.ask-button{
  width: 100%;
  background: #847A65;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  padding-top: 4px;
  cursor: pointer;
}
@media(max-width: 1400px) {

  .ask-wrap{
    right: 29px;
  }
}

@media(max-width: 1024px) {
  .ask-wrap {
    right: 20px;
  }
}

@media(max-width: 768px) {
  .ask-wrap {
    right: 14px;
    bottom: 184px;
  }
}

@media(max-width: 500px) {
  .ask-wrap {
    right: 10px;
    bottom: 138px;
    transform: scale(0.8);
    margin: -20px;
  }
}