@charset "utf-8";

:root {
  --main-font: "Noto Sans", sans-serif;
  --sub-font1: "Pretendard", serif;
  --sub-font2: "Abel", serif;
  --sub-font3: "Bell Gothic", serif;
  --sub-font4: "JMH Typerwriter", serif;
  --sub-font5: "AMI R", serif;
  --main-color: #f0ecdb;
  --sub-color: #847a65;
  --base-color: #fff;
}




/*공통*/
body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.5;
  color: #222;
  font-weight: 400;
}

#wrap {
  min-width: 320px;
}

.inner {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 3%;
}


/*section 공통*/
.section-txt h2 {
  font-family: var(--sub-font3);
  font-size: 5rem;
}

.section-txt h3 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 2.4rem;
}

.section-txt p {
  font-family: var(--sub-font5);
  font-size: 2.2rem;
  line-height: 120%;
  padding-top: 40px;
}

.btn_explore {
  font-family: var(--sub-font2);
  font-size: 2rem;
  display: inline-block;
  border-bottom: 1px solid #222;
  margin-top: 30px;
}

@media(max-width: 1400px) {
  .section-txt h2 {
    font-size: 4rem;
  }

  .section-txt h3 {
    font-size: 2.1rem;
  }

  .section-txt p {
    font-size: 1.8rem;
    padding-top: 37px;
  }

  .btn_explore {
    font-size: 1.7rem;
    margin-top: 22px;
  }
}

@media(max-width: 768px) {
  .section-txt h2 {
    font-size: 3rem;
  }

  .section-txt h3 {
    font-size: 1.8rem;
  }

  .section-txt p {
    font-size: 1.6rem;
    padding-top: 34px;
  }

  .btn_explore {
    font-size: 1.4rem;
    margin-top: 22px;
  }
}

@media(max-width: 390px) {
  .section-txt h2 {
    font-size: 2.4rem;
  }

  .section-txt h3 {
    font-size: 1.4rem;
  }

  .section-txt p {
    font-size: 1.3rem;
    padding-top: 22px;
  }

  .btn_explore {
    font-size: 1.2rem;
    margin-top: 25px;
  }
}



/*breadcrumb공통*/
.breadcrumb {
  padding-top: 170px;
}

.breadcrumb ul {
  display: flex;
  gap: 12px;
}

.breadcrumb ul li {
  font-size: 16px;
}

.breadcrumb ul li:last-child {
  font-weight: 600;
}

@media(max-width: 1400px) {
  .breadcrumb {
    padding-top: 140px;
  }
}

@media(max-width: 768px) {
  .breadcrumb {
    padding-top: 130px;
  }

  .breadcrumb ul li {
    font-size: 14px;
  }
}

@media(max-width: 550px) {
  .breadcrumb {
    padding-top: 140px;
  }
}

@media(max-width: 390px) {
  .breadcrumb {
    padding-top: 120px;
  }

  .breadcrumb ul li {
    font-size: 12px;
  }
}



/*section1*/
#section1 {
  width: 100%;
  text-align: center;
  padding-top: 120px;
}

.section1-txt {
  padding-top: 57px;
}

#section1 .section1-txt p {
  font-size: 2.5rem;
  line-height: 130%;
  word-break: keep-all;
  padding-top: 0;
  padding-bottom: 5px;
}

#section1 video {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 145px;
}

@media(max-width:1024px) {
  #section1 .section1-txt p {
    font-size: 2.2rem;
  }
}

@media(max-width:768px) {
  #section1 {
    padding-top: 90px;
  }

  #section1 .section1-txt {
    padding-top: 45px;
  }

  #section1 .section1-txt p {
    max-width: 700px;
    font-size: 1.7rem;
    line-height: 150%;
  }

  #section1 .pt {
    padding-top: 57px;
  }

  #section1 video {
    width: 100%;
    height: 700px;
    padding-top: 80px;

  }
}

@media(max-width:390px) {
  #section1 {
    padding-top: 70px;
  }

  #section1 .section1-txt p {
    font-size: 1.3rem;
  }

  #section1 video {
    padding-top: 60px;
  }

  #section1 .section1-txt {
    padding-top: 35px;
  }
}




/*#section2*/
#section2 {
  width: 100%;
  padding: 100px 0 170px 0;
}

#section2 .flex-wrap {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

#section2 ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 28px;
}

#section2 ul li {
  width: calc((100% - 28px) / 2);
  height: auto;
}

#section2 ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section2 ul li span {
  display: inline-block;
  font-weight: 600;
  font-size: 3rem;
  padding-top: 120px;
}

#section2 ul li p {
  padding-top: 25px;
  font-size: 2.4rem;
  font-family: var(--sub-font5);
  line-height: 126%;
  word-break: keep-all;
}

.f1 {
  padding-left: 85px;
  justify-content: left;
}

.f2 {
  padding-right: 20px;
}




@media(max-width:1024px) {
  #section2 ul li span {
    font-size: 2.4rem;
    padding-top: 30px;

  }

  #section2 ul li p {
    font-size: 2.0rem;
    padding-right: 20px;
  }

  .f1 {
    padding-left: 20px;
  }
}

@media(max-width:768px) {
  #section2 {
    width: 100%;
    padding: 80px 0 140px 0;
  }

  .f1 {
    padding-left: 0;
  }

  .f2 {
    padding-right: 0;
  }

  #section2 ul li {
    width: 100%;
    height: auto;
  }

  .f2 {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  #section2 ul li span {
    font-size: 2rem;
    padding-top: 0;
    padding-left: 15px;

  }

  #section2 ul li p {
    font-size: 1.8rem;
    padding-top: 15px;
    padding-left: 15px;
    line-height: 150%;
    padding-right: 30px;
    word-break: keep-all;
  }
}

@media(max-width:390px) {
  #section2 {
    width: 100%;
    padding: 60px 0 100px 0;
  }

  #section2 ul {
    gap: 0;
  }

  #section2 ul li span {
    font-size: 1.6rem;
    padding-top: 17px;
    padding-left: 15px;

  }

  #section2 ul li p {
    font-size: 1.4rem;
    padding-top: 13px;
    padding-left: 15px;
    line-height: 150%;

  }

  #section2 .flex-wrap {
    gap: 40px;
  }
}





/*section3*/
#section3 {
  width: 100%;
  text-align: center;
  padding-bottom: 70px;
}

#section3 img {
  width: 100%;
  height: auto;
  padding-top: 38px;
}

#section3 p {
  padding-top: 65px;
  word-break: keep-all;
}

@media(max-width:768px) {
  #section3 p {
    padding-top: 40px;
    line-height: 150%;
  }

  #section3 img {
    padding-top: 35px;
  }
}

@media(max-width:390px) {
  #section3 p {
    padding-top: 30px;
  }

  #section3 img {
    padding-top: 25px;
  }
}



/*another13*/
/*sub-banner*/
.sub-banner {
  width: 100%;
  height: 530px;
  position: relative;
}

.sub-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-txt {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 38px;
  font-weight: 300;
  line-height: 130%;
  padding-top: 120px;
}

.sub-txt span {
  display: inline-block;
  font-family: var(--sub-font3);
  font-weight: 600;
}

.sub-txt .bell {
  font-family: var(--sub-font3);
}

.breadcrumb.two {
  padding-top: 25px;
}

@media(max-width:1024px) {}

@media(max-width:768px) {
  .sub-banner {
    height: 400px;
  }

  .sub-txt {
    font-size: 28px;
    padding-top: 120px;
  }
}

@media(max-width:390px) {
  .sub-banner {
    height: 300px;
  }

  .sub-txt {
    font-size: 18px;
    padding-top: 120px;
  }
}




/*detail*/
#detail {
  width: 100%;
  height: auto;
}

.detail-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 22px;
  gap: 75px;
}

#detail .left {
  flex: 1 1 55%;
  flex-wrap: nowrap;
  display: flex;
  gap: 30px;
}

.small-img li {
  width: 100%;
  cursor: pointer;
  padding-bottom: 22px;
}

.small-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-img {
  width: 700px;
  height: 700px;
  display: block;
  position: relative;
}

.big-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
}

.right {
  flex: 1 1 40%;
}


@media(max-width:1300px) {}

@media(max-width:1300px) {
  .detail-wrap {
    flex-wrap: wrap;
    display: block;
    gap: 0px;
  }

  #detail .left {
    gap: 0;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
  }

  .small-img li {
    width: 25%;
    cursor: pointer;
    padding-bottom: 22px;
  }

  .small-img ul {
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }

  .big-img {
    width: 100%;
    height: 1000px;
  }

  .right {
    width: 100%;
  }
}

@media(max-width:768px) {
  .big-img {
    height: 850px;
  }
}

@media(max-width:390px) {
  .big-img {
    height: 500px;
  }
}




.box1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.title h2 {
  font-size: 26px;
  font-family: var(--sub-font3);
}

.title h3 {
  font-size: 26px;
  font-weight: 600;
  padding-top: 6px;
}

.title h4 {
  font-size: 22px;
  font-family: var(--sub-font5);
  padding-top: 9px;
  font-weight: 400;
}

.price {
  position: relative;
}

.price li {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-size: 20px;
}

.box2 {
  padding-top: 70px;
}

.box2 ul {
  width: 100%;
  display: flex;
  gap: 15px;
}

.box2 p {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-family: var(--sub-font5);
}

.box2 ul li {
  cursor: pointer;
}

.box2 ul li.active {
  border: 2px solid #847A65;
}



.msg-box {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.msg-box input {
  width: 100%;
  padding: 13px 60px 13px 13px;
  border: 1px solid #847A65;
  align-items: center;
}

.msg-box input::placeholder {
  font-size: 20px;
  font-weight: var(--sub-font5);
  color: #333;
  font-family: var(--sub-font5);
  padding-top: 2px;
}

.msg-box .count {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 22px;
  color: #333;
  font-family: var(--sub-font5);
}

.cart-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #847A65;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media(max-width:1024px) {}

@media(max-width:768px) {

  .box2 ul li img {
    width: 100%;
    object-fit: cover;
  }

  .box1 {
    margin-top: 30px;
  }
}

@media(max-width:390px) {
  .box1 {
    margin-top: 20px;
  }
  .box2 ul{
    width: 100%;
  }
.box2 p{
  font-size: 16px;
}
  .title h2 {
    font-size: 20px;
  }

  .title h3 {
    font-size: 20px;
  }

  .title h4 {
    font-size: 16px;
  }

  .price li {
    font-size: 16px;
  }
  .msg-box input::placeholder {
    font-size: 15px;
  }
    .msg-box .count{
      font-size: 17px;
    }
}










/*.box3*/
.box3 {
  height: auto;
  margin-top: 47px;
}

.box3 p {
  font-size: 18px;
  font-family: var(--sub-font5);
  line-height: 130%;
}

.more-text {
  display: none;
}

.toggle-btn {
  margin-top: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
  font-size: 14px;
  color: #222;
}


/*.box4*/
.box4 {
  margin-top: 40px;
}

.box4 ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
  border-bottom: 1px solid #222;
}

.box4 ul li:last-child {
  border-bottom: 1px solid #000;
  cursor: pointer;
}

@media(max-width:1024px) {}

@media(max-width:768px) {}

@media(max-width:390px) {
  .box3 p {
    font-size: 15px;
  }

  .box4 {
    font-size: 13px;
  }
}


/*type*/
#type {
  padding-top: 170px;
  text-align: center;
}

.typeslide ul {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 38px;
}

.typeslide ul li {
  width: calc(100% / 4);
  border: 1px solid #222;
}

.typeslide .slide-img {
  width: 100%;
}

.typeslide .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-txt {
  padding: 30px 20px;
  text-align: left;
}

.slide-txt h2 {
  font-family: var(--sub-font3);
  font-size: 26px;
}

.slide-txt h3 {
  font-size: 26px;
  padding-top: 0;
  line-height: 130%;
}

.slide-txt h4 {
  font-family: var(--sub-font5);
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-top: 10px;
  line-height: 130%;
}

.down-txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}

.down-txt .cart {
  border-bottom: 1px solid #000;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  font-family: var(--sub-font5);
}

.down-txt .p {
  font-size: 20px;
  font-family: var(--sub-font5);
}

@media(max-width:1024px) {}

@media(max-width:768px) {
  .typeslide .slide-img {
    height: 500px;
  }

  #type {
    padding-top: 150px;
  }
}

@media(max-width:390px) {
  .typeslide .slide-img {
    height: 300px;
  }

  .slide-txt {
    padding: 20px 10px;
  }

  .slide-txt h2,
  .slide-txt h3 {
    font-size: 20px;
  }

  .slide-txt h4 {
    font-size: 16px;
  }

  .down-txt .cart {
    font-size: 18px;
  }

  .down-txt p {
    font-size: 15px
  }

  #type {
    padding-top: 100px;
  }
}




/*journey*/
#journey {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 170px;
}

#journey img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#journey h3 {
  padding-bottom: 38px;
}

#journey .btn_explore {
  margin-top: 65px;
}

@media(max-width:1024px) {}

@media(max-width:768px) {
  #journey {
    padding-top: 150px;
  }

  #journey img {
    height: 400px;
  }

  #journey .btn_explore {
    margin-top: 40px;
  }
}

@media(max-width:390px) {
  #journey img {
    height: 250px;
  }

  #journey {
    padding-top: 140px;
  }
}














/*service*/
/*section6-service*/
#section6 {
  padding: 240px 0 110px 0;
  text-align: center;
  background: #f0ecdb;
}

#section6 .section-txt p {
  padding-top: 10px;
}

#section6 ul {
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  gap: 110px;
  justify-content: center;
}

#section6 ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section6 ul li p {
  padding-top: 25px;
  font-family: var(--sub-font5);
  font-size: 2rem;
}


@media(max-width:1024px) {
  #section6 ul {
    padding-top: 35px;
    gap: 80px;
  }

  #section6 ul li p {
    padding-top: 20px;
    font-size: 1.8rem;
  }

  #section6 ul li img {
    transform: scale(0.9);
  }
}

@media(max-width:768px) {
  #section6 {
    padding: 150px 0 100px 0;
  }

  #section6 ul {
    padding-top: 30px;
    gap: 52px;
  }

  #section6 ul li p {
    padding-top: 18px;
    font-size: 1.6rem;
  }

  #section6 ul li img {
    transform: scale(0.7);
  }
}

@media(max-width:500px) {
  #section6 {
    padding: 120px 0 60px 0;
  }

  #section6 ul {
    padding-top: 27px;
    gap: 15px;
    text-align: center;
  }

  #section6 ul li img {
    transform: scale(0.6);
  }

  #section6 ul li p {
    padding-top: 8px;
    font-size: 1.4rem;
  }
}

@media(max-width:390px) {
  #section6 {
    padding: 80px 0 60px 0;
  }
}